*
{
    margin:0;
    padding:0;
}
.text-montserrat
{
    font-family: 'Montserrat', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* ============================== Colour ============================== */

.light-mode .bg-primary-color
{
    background-color: #3413E1;
}
.light-mode .bg-accent-color
{
    background-color: #6513E1;
}
.light-mode .bg-secondary-color
{
    background-color: #F3F3F3;
}
.light-mode .bg-dark-color
{
    background-color: #0B0217;
}
.light-mode .bg-light-color
{
    background-color: #FFFDFA;
}
.light-mode .bg-gradient-color
{
    background-image: linear-gradient(to right,#3413E1,#6513E1);
}



/* ============================== End Colour ============================== */





/* ============================== Text Colour ============================== */

.light-mode .text-primary-color
{
    color: #3413E1;
}
.light-mode .text-accent-color
{
    color: #6513E1;
}
.light-mode .text-secondary-color
{
    color: #F3F3F3;
}
.light-mode .text-dark-color
{
    color: #0B0217;
}
.light-mode .text-light-color
{
    color: #FFFDFA;
}


.light-mode .text-primary-color a
{
    color: #3413E1;
}
.light-mode .text-accent-color a
{
    color: #6513E1;
}
.light-mode .text-secondary-color a
{
    color: #F3F3F3;
}
.light-mode .text-dark-color a
{
    color: #0B0217;
}
.light-mode .text-light-color a
{
    color: #FFFDFA;
}


/* ============================== End Text Colour ============================== */





/* ============================== Text Styling ============================== */
.text-underline
{
    text-decoration: underline;
}
.text-nodecoration
{
    text-decoration: none;
}
.text-nodecoration a
{
    text-decoration: none;
}


.text-bold
{
    font-weight: bold;
}

.text-align-center
{
    text-align: center;
}


/* ============================== End Text Styling ============================== */





/* ============================== Button ============================== */
.light-mode .button-primary-bg
{
    color:#FFFDFA;
    background-color: #3413E1;
    padding: 1rem 2rem;
    border:#3413E1 solid 1px;
    border-radius:1.5rem;

}
.light-mode .button-primary-bg:hover
{
    transition: 0.4s;
    color:#3413E1;
    background-color: transparent;
    border:#3413E1 solid 1px;
}


.light-mode .button-accent-bg
{
    color:#FFFDFA;
    background-color: #6513E1;
    padding: 1rem 2rem;
    border:#6513E1 solid 1px;
    border-radius:1.5rem;

}
.light-mode .button-accent-bg:hover
{
    transition: 0.4s;
    color:#6513E1;
    background-color: transparent;
    border:#6513E1 solid 1px;
}

.light-mode .button-secondary-bg
{
    color:#3413E1;
    background-color: #F3F3F3;
    padding: 1rem 2rem;
    border:#F3F3F3 solid 1px;
    border-radius:1.5rem;

}
.light-mode .button-secondary-bg:hover
{
    transition: 0.4s;
    color:#F3F3F3;
    background-color: transparent;
    border:#F3F3F3 solid 1px;
}

.light-mode .button-light-bg
{
    color:#3413E1 !important;
    background-color: #FFFDFA;
    padding: 0.5rem 2rem;
    border:#FFFDFA solid 1px;
    border-radius:1.5rem;

}
.light-mode .button-light-bg:hover
{
    transition: 0.4s;
    color:#FFFDFA !important;
    background-color: transparent;
    border:#FFFDFA solid 1px;
}

/* ============================== End Button ============================== */


/* ============================== Section Styling ============================== */
.corner-round
{
    border-radius: 1.25rem;
}
.opacity70
{
    opacity: 0.7;
}

/* ============================== End Section Styling ============================== */

#container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 2048px;
}



/* ============================== Header ============================== */

#header 
{
    position:relative;
    display:grid;
    grid-template-columns:1fr;
    grid-template-areas: 
    "header-main"
    "header-sub-main";
    position:sticky;
    top:0;
    z-index:10;
}

.header-logo
{
    z-index:5;
    position: absolute;
    height: 100%;
}
.bg-logo
{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 50% 50% 0;
    height:100%;
}
.header-logo img
{
    padding:1rem 1.5rem;
    width:100%;
}

.header-main
{
    grid-area: header-main;
    display:flex;
    padding: 1.5rem 1rem;
    align-items: center;
    
}
.header-logo-main
{
    width: 8rem;
}
.header-logo-main img
{
    display: none;
}
.navigation-menu
{
    display: flex;
    align-items: center;
    
}
.navigation-menu nav
{
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.light-mode .navigation-menu a nav
{
    color: #FFFDFA;
    text-decoration: none;
    font-weight: bold;
}

.light-mode .header-main nav:hover
{
    background-color: #fffdfa39;
    transition: 0.4s;
}


.enabled::after
{
    content:'';
    display:flex;
    flex-flow: column;
    background-color: #FFFDFA;
    height:3px;
    width:75%;
    margin: 0 auto -3px auto;
    border-radius: 20px;
}



.button-jelajah
{
    flex-grow: 3;
    display:flex;
    justify-content: end;

}


.header-sub-main
{
    grid-area: header-sub-main;
    display:flex;
    padding: 1rem 1rem;
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.161);
    
}
.navigation-sub-menu
{
    display: flex;
    font-size: 0.8rem;
}
.navigation-sub-menu nav
{
    margin-right: 0.1rem;
    padding: 0rem 1rem;
}
.navigation-sub-menu nav:hover
{
    opacity :0.7;
}




/* ============================== End Header ============================== */


/* ============================== Content ============================== */
#content
{
    background-color: #F3F3F3;
}
.material-subject-info
{
    display:flex;
    flex-direction: column;
    max-width:60%;
}
.light-mode .content-title
{
    color: #FFFDFA;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
}
.light-mode .content-sub-heading
{
    color: #3413E1;
    font-size: 2em;
    font-weight: bold;
    margin:2rem 0;
}
.light-mode .content-paragraph
{
    color: #0B0217;
    font-size: 1rem;
    margin:1rem 0;
    line-height: 1.6rem;
}
.content-image
{
    display: block;
    margin:0 auto;
    max-width: 90%;
}

.content-heading
{
    padding: 10vh 10vw 0 10vw;
    margin-bottom: 8rem;
}
.material-info
{
    display: flex;
    justify-content: space-between;
}
.author-profile
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "author-bio author-photo";
    justify-content:end;
    align-items: center;
    text-align: right;
}
.author-bio
{
    grid-area: author-bio;
}
.author-profile img
{
    grid-area: author-photo;
    margin-left: 1rem;
    border-radius: 50%;
    width:4rem;
    height: auto;
}

.material-cover-image
{
    position: relative;
    display:inline-block;
    width:100%;
    height:25rem;
    border-radius:1rem;
    margin: 2rem auto -5rem auto;
    z-index:9;
}

.material-cover-image::before
{
    content:'';
    position:absolute;
    display: inline-block;
    left:0;
    right:0;
    bottom:0;
    height: 1.5rem;
    background-image: linear-gradient(to right,#3413E1,#6513E1);
    width:90%;
    margin: 0 auto -1.5rem auto;
    border-radius:0 0 1rem 1rem;
    display: block;
}
.material-content
{
    padding:2rem 10vw;
}

/* ============================== End Content ============================== */


/* ============================== Footer ============================== */

.footer-container
{
    padding:3rem 2rem;
    text-align: center;
}
.footer-menu
{
    display:flex;
    justify-content: center;
}
.footer-menu a
{
    margin:1rem 1rem 1rem 0rem; 
}
.footer-menu a:hover
{
    opacity: 0.7;
}
/* ============================== End Footer ============================== */











@media screen and (max-width:820px) {
    
    .header-logo-main img
    {
        display: block;
    }
    .header-logo
    {
        display:none;
    }
    .header-logo-sub-main
    {
        display: none;
    }


    .material-content
    {
        padding:2rem 5vw;
    }
    .material-subject-info
    {
        max-width:100%;
    }
    .material-info
    {
        justify-content: start;
        flex-direction: column;
    }

    .author-profile
    {
        grid-template-areas: "author-photo author-bio";
        text-align: left;
        justify-content:start;
        margin:1rem 0;
    }

    .author-profile img
    {
        margin-left: 0rem;
        margin-right: 1rem;
    }

    .footer-container
    {
        text-align: left;
    }
    .footer-menu
    {
        justify-content: start;
    }
}

