<div class="footer-container bg-gradient-color">
    <div class="footer-logo">
        <a href="index.html">
            <img src="../assets/images/logo-white.svg" alt="Logo">
        </a>
    </div>
    <div class="footer-menu text-light-color text-nodecoration">
        <a href="index.html?menu=beranda">Beranda</a>
        <a href="mata-kuliah.html?menu=materi">Materi</a>
        <a href="kuis.html?menu=kuis">Kuis</a>
        <a href="tentang-kami.html?menu=tentang-kami">Tentang Kami</a>
    </div>
    <div class="footer-copyright text-light-color">
        <p>© RAYBIZTHOR, 2022.</p>
    </div>
</div>